@font-face {
  font-family: 'Lora', serif;
   src: url("assets/fonts/Lora-Italic-VariableFont_wght.ttf");
 }

.nav {
  display: flex; 
  justify-content: center;
  font-size: 15px;
    text-align: center;
    background-color: steelblue;
}

html {
    scroll-behavior: smooth; 
  }


* {
    box-sizing: border-box;
  }
#body {
    min-height: 100vh;

}

.h1 {
    font-weight: bolder;
    }