@font-face {
  font-family: 'Lora', serif;  
   src: url("assets/fonts/Lora-Italic-VariableFont_wght.ttf");  
 }

.nav {
  display: flex;   
  justify-content: center; 
  font-family: 'Lora', serif; 
  font-size: 15px;  
  color: antiquewhite; 
  text-align: center;  
  background-color: cadetblue; 
  }

html {
    scroll-behavior: smooth; 
  }


* {
    box-sizing: border-box;
  }

body {
    min-height: 100vh;  
}

.h1 {
    font-weight: bolder;
    }

    .footer {
      background-color: cadetblue;
    }

    body {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 100vh;
      margin: 0;
      padding: 0;
      font-family: 'Lora', serif;
      font-size: 18px;  
      color:black;
  }
  .container footer-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .container main-container {
    max-width: 1440px;
    margin: 0 auto;
  }

  .container header-container {
    max-width: 1440px;
    margin: 0 auto;
  }

